<span class="bg-red-100 text-red-800 text-xs sm:text-sm md:text-base lg:text-lg font-medium me-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300 whitespace-nowrap overflow-auto">
    <slot />
</span>
