<header class="flex flex-col md:flex-row justify-between items-center py-5 w-full md:w-[1120px] mx-auto px-4">
    <img src="https://media.licdn.com/dms/image/v2/D5635AQF8HP4ZggHfFg/profile-framedphoto-shrink_400_400/profile-framedphoto-shrink_400_400/0/1725281759004?e=1727373600&v=beta&t=bWVtwzTT46-e4990lpwS7auR5iJTp9vWb3A8k1Vd0O0" class="rounded-full w-16 h-16 md:w-24 md:h-24 mb-4 md:mb-0" alt="foto jorge">

    <nav class="flex flex-col md:flex-row gap-y-4 md:gap-y-0 md:gap-x-10 opacity-80">

        <a href="#sobre-mi">Sobre mi</a>
        <a href="#proyectos">Proyectos</a>
        <a href="mailto:jorgecab95it@gmail.com">Contacto</a>

    
    </nav>
</header>
