<header class="flex flex-col md:flex-row justify-between items-center py-5 w-full md:w-[1120px] mx-auto px-4">
    <img src="https://media.licdn.com/dms/image/D5603AQFQPxckNg28Sw/profile-displayphoto-shrink_800_800/0/1707565922025?e=1726704000&v=beta&t=89ijbc1YSdM0dKP1PDjZQqdv5JxoSZe-g4H2xukgGvE" class="rounded-full w-16 h-16 md:w-24 md:h-24 mb-4 md:mb-0" alt="foto jorge">

    <nav class="flex flex-col md:flex-row gap-y-4 md:gap-y-0 md:gap-x-10 opacity-80">

        <a href="#sobre-mi">Sobre mi</a>
        <a href="#proyectos">Proyectos</a>
        <a href="mailto:jorgecab95it@gmail.com">Contacto</a>

    
    </nav>
</header>
